<h1 class="text-center p-3 mt-1">Stupid Coaching</h1>

<form action="/answer" data-turbo="false" class="d-flex w-50 m-auto">
  <input type="text" name="question" class="form-control" placeholder="Ask your coach anything">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
